/* ================
	 1. variables
   ================ */

   .body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
    --bg-alt2: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
    --primary-alt2: #70a0e7;
	--primary-div: rgba(40, 40, 200, 0.7);
	--primary-light: rgba(44, 93, 206, 0.1);
    --text: navy;
	--div-border: whitesmoke;
	--container-shadow: 0 8px 16px rgb(0 0 0);
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgb(22 28 41 / 50%);
    --bg-alt2: rgb(22, 16, 52);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
    --primary-alt2: #5955a2;
	--primary-light: rgb(18 17 49 / 44%);
	--primary-div: rgba(98, 52, 143, 0.7);
    --text: lavender;
	--div-border: lavender;
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */

::-moz-selection {
	background: var(--primary);
	color: var(--bg);
}

::-webkit-selection,
::selection {
	background: var(--primary);
	color: var(--bg);
}

body {
	margin: 0 auto;
	width: 100%;
	background-color: transparent;
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

h2 {
	color: var(--fg-alt);
	line-height: 1.1;
    font-size: 1.8em;
}

@media (max-width: 580px) {
	h2 {
		font-size: 1.5rem;
	}
}

/* =============
     3. layout
   ============= */

section {
	margin-top: 5em;
}

.section-title {
	padding-top: 0.5em;
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.section-title::after {
	content: '';
	margin: 0.3em auto 0 auto;
	display: block;
	width: 1.5em;
	border-bottom: 0.2em solid var(--primary);
}

.stack {
    padding-top: 3em;
}

@media (max-width: 580px) {
	section {
		margin-top: 2.5em;
	}
}

/* Changes */
.container {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 1em;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Changes */
.event {

    margin-bottom: 20px;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 300px;
	box-shadow: var(--container-shadow);
	border-radius: 10px;
}

.event img {
	border-radius: 10px;
}

.event:hover {
	box-shadow: 0 8px 16px midnightblue;
}

.event .content {
	background: var(--primary-alt2);
    color: #fff;
    bottom: 0;
    height: 68px;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: all .5s ease;
    width: 100%;
	border-radius: 10px;
}

.event h3 {
    font: bold 1em/1.125em 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    height: 68px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.event .rollover {
	border-top: 1px solid var(--div-border);
    font-size: .9375em;
    line-height: 1.4em;
    padding: 18px 20px;
    opacity: 0;
    transition: all .5s ease;
}

.event .rollover div {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.event .rollover h4 {
    margin: 0;
    font-family: 'EB Garamond';
	font-size: large;
	padding-bottom: 1em;
	padding-top: 10px;
}

.event .rollover h5 {
    margin: 0;
    font-family: 'EB Garamond';
	line-height: 23px;
	font-size: medium;
}

.event:hover .content {
	background: var(--primary-div);
    height: 100%;
}

.event:hover .rollover {
    opacity: 1;
}

/* Changes v2 */
.container:hover > *,
.container:focus-within > * {
  opacity: 0.4;
}

.container:hover > :hover,
.container:focus-within > :focus {
  opacity: 1;
}

.container:hover > :focus:not(:hover) {
	transform: scale(1.05);
}

.container {
	pointer-events: none;
}

.container > * {
	pointer-events: auto;
}