<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&family=Lora&display=swap" rel="stylesheet">
<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="education" class="stack">
		<h2 class="section-title">Education</h2>
        <div class="container">
            <a class="event" href="http://makautexam.net/degree-certificate-2021/11700117128.pdf">
                <img src="https://getmyuni.azureedge.net/college-image/big/rcc-institute-of-information-technology-kolkata.jpg" alt="description" height="300" width="300">
                <!-- <img src="https://images.shiksha.com/mediadata/images/1596801888phpoz8hI6.jpeg" alt="description" height="300" width="300"> -->
                
                <div class="content">
                    <h3>Bachelor of Technology in Computer Science & Engineering</h3>
                    <div class="rollover">
                        <h4>RCC Institute of Information Technology</h4>
                        <div>
                            <h5>Maulana Abul Kalam Azad University of Technology</h5>
                            <h5>DGPA: 8.76/10</h5>
                            <h5><fa-icon [icon]="locationIcon"></fa-icon> Kolkata, India</h5>
                            <h5><fa-icon [icon]="timelineIcon"></fa-icon> 2017 - 2021</h5>
                        </div>
                    </div>
                </div>
            </a>

            <a class="event" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Kendriya_Vidyalaya_Cossipore.jpg" alt="description" height="300" width="300">
                <!-- <img src="https://d2jg2pri5bpndu.cloudfront.net/schools/250_KV-Cossipore---Kendriya-Vidyalaya.png" alt="description" height="300" width="300"> -->
                
                <div class="content">
                    <h3>Higher Secondary</h3>
                    <div class="rollover">
                        <h4>Kendriya Vidyalaya Cossipore</h4>
                        <div>
                            <h5>Central Board of Secondary Education</h5>
                            <h5>Subjects - Computer Science, Maths, English, Chemistry, Physics</h5>
                            <h5>Percentage: 75.4%</h5>
                            <h5><fa-icon [icon]="locationIcon"></fa-icon> Kolkata, India</h5>
                            <h5><fa-icon [icon]="timelineIcon"></fa-icon> 2015 - 2017</h5>
                        </div>
                    </div>
                </div>
            </a>

            <a class="event" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Kendriya_Vidyalaya_Cossipore.jpg" alt="description" height="300" width="300">
                <!-- <img src="https://d2jg2pri5bpndu.cloudfront.net/schools/250_KV-Cossipore---Kendriya-Vidyalaya.png" alt="description" height="300" width="300"> -->
                
                <div class="content">
                    <h3>Secondary</h3>
                    <div class="rollover">
                        <h4>Kendriya Vidyalaya Cossipore</h4>
                        <div>
                            <h5>Central Board of Secondary Education</h5>
                            <h5>Subject - Maths, English, Science, Social Science, Hindi</h5>
                            <h5>Percentage: 95%</h5>
                            <h5><fa-icon [icon]="locationIcon"></fa-icon> Kolkata, India</h5>
                            <h5><fa-icon [icon]="timelineIcon"></fa-icon> 2013 - 2015</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
	</section>
</body>