<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="achievements" class="stack">
		<h2 class="section-title">Coding</h2>
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="assets/leetcodeLogo.png">
                        <h3>Leetcode</h3>DSA and Database
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Solved 250+ problems</p>
                        <a target="_blank" href="https://leetcode.com/Archita_04/">Visit</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/160_Hackerrank_logo_logos-512.png">
                        <h3>Hackerrank</h3>Certification
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Earned Java, Problem Solving, SQL & Python certification from HackerRank</p>
                        <a target="_blank" href="https://www.hackerrank.com/sahaarchita9">Visit</a>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png">
                        <h3>Linkedin</h3>Skill Assessment
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Passed Linkedin Skill assessment for Java and Angular</p>
                        <a target="_blank" href="https://www.linkedin.com/in/archita-saha">Visit</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="assets/efset.png">
                        <h3>EF SET</h3>Standard English Test
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Certified as C2 proficient</p>
                        <a target="_blank" href="https://drive.google.com/file/d/1hpvlhzz_jBHG7dJm2PDXEu0MaJvf2D-s/view?usp=share_link">Visit</a>
                    </div>
                </div>
            </div>
        </div>
	</section>
</body>