<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="research" class="stack">
		<h2 class="section-title">Research</h2>
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 1</p>
                        <a href="https://cdn.pixabay.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 1</p>
                        <a href="https://cdn.pixabay.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 1</p>
                        <a href="https://cdn.pixabay.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 1</p>
                        <a href="https://cdn.pixabay.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://img.freepik.com/premium-vector/meadows-landscape-with-mountains-hill_104785-943.jpg?w=2000">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Text para 2</p>
                        <a href="https://img.freepik.com/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
	</section>
</body>