<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="contact" class="contact">
        <h2 class="section-title">Get in touch</h2>
        <div>
            <!-- ul has 3 mentions in css. change ul to div -->
            <span>
                <!-- span, li has 0 mentions in css. change li to span -->
                <a href="mailto:sahaarchita9@gmail.com">
                <span class="btn">
                    <fa-icon [icon]="emailIcon" aria-hidden="true" class="fas icon fa-xl"></fa-icon>
                    Email
                </span>
                </a>
            </span>
            <!-- <span>
                <a href="https://www.linkedin.com/in/archita-saha" aria-label="Linkedin">
                <span class="btn">
                    <fa-icon [icon]="linkedIcon" aria-hidden="true" class="fab icon fa-xl"></fa-icon>
                    Linkedin
                </span>
                </a>
            </span>
            <span>
                <a href="https://github.com/ArchitaSaha" aria-label="Github">
                <span class="btn">
                    <fa-icon [icon]="githubIcon" aria-hidden="true" class="fab icon fa-xl"></fa-icon>
                    Github
                </span>
                </a>
            </span> -->
            <span>
                <a href="https://api.whatsapp.com/send?phone=+919163058124&amp;text=Hello" aria-label="Whatsapp">
                <span class="btn">
                    <fa-icon [icon]="whatsappIcon" aria-hidden="true" class="fab icon fa-xl"></fa-icon>
                    Whatsapp
                </span>
                </a>
            </span>
            <span>
                <a href="tel:9163058124" aria-label="Call">
                <span class="btn">
                    <fa-icon [icon]="phoneIcon" aria-hidden="true" class="fab icon fa-xl"></fa-icon>
                    Call
                </span>
                </a>
            </span>
        </div>
    </section>
</body>