<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="workexperience" class="sectionClass">
        <div class="row ">
            <h2 class="section-title">WORK EXPERIENCE</h2>
            <div class="fullWidth eight columns">
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-phone card">
                            <!-- <fa-icon [icon]="briefcaseIcon" aria-hidden="true" class="icon-normal fas fa-bars faPra"></fa-icon> -->
                            <!-- <img src="https://github.com/ArchitaSaha/Portfolio/blob/main/CognizantLogo.jpeg?raw=true"  aria-hidden="true" class="icon-normal fas fa-bars faPra"> -->
                            <img src="https://chi01pap001files.storage.live.com/y4mJz0wkV1LYY4yHsTNrT98fPGdpFNNasHS6skKRuL0BKHOspYzNCcgONPjpwH_Xaz2i3pm6Ts45jCmSHLEBOygD4uyxR8R3uNAkGOdV755SJv6APhOeI-AgJl4RhmUbRqBBNQdkWmIGvYNKiD8eJ74U4gaUc7JFLVtDIEUbzyprCeTTrwy6TpQPpuH9zfEz2IbQWXNtNUh9-BRAwDAZgl6vJtOLRdm3Iwf13wgEuCWXdU?encodeFailures=1&width=260&height=260"  aria-hidden="true" class="icon-normal fas fa-bars faPra">
                        </div>
                        <div class="cbp_tmlabel wow fadeInRight animated card">
                            <h3>Associate Cloud Engineer</h3>
                            <div class="date">
                                <fa-icon [icon]="calendarIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                August 2021 - Current
                            </div>
                            <h4>
                                <fa-icon [icon]="flagIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                Cognizant, Hyderabad
                            </h4>
                            <p class="projectParagraph">
                                Learned Cloud Technologies in depth.<br>
                                Worked with Cloud SQL, Cloud Functions, Google Compute Engine, Google App Engine, BigQuery, Cloud Spanner.<br>
                                Got certified as Associate Cloud Engineer by Google Cloud.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>