<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap" rel="stylesheet">
<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="project" class="project">
        <h2 class="section-title">Projects</h2>
        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mIXLBELzsFtPgmKzErGP47efLLOzNUILsAq89CMsTX-8S-VE7S9xYxmcMuxwIgvHDlUZNwsp2dGO2DT9Ntv0G9ZIneACSJdaxS3ESkIg618iZzeMEIoITL96XCBfU-wWGBOByxxNtfCplg2WV7-_SMOqD1fokYTQl5R-ApCy3Pv2kOAlKQ6uaz-ESBwlqKzTNVD3uWbNRGPtcmSozrNcdWOMR4LT-5rB0ZE7294DITak?encodeFailures=1&width=1883&height=832" alt="Pension Management System" height="250" width="450" />
            <div class="project-content">
                <h3>Pension Management System</h3>
                <p>
                    Employed Angular and Spring Framework.<br>
                    Built microservices and web services using REST.
                </p>
                <div class="project-skill">
                    <span>Angular</span>
                    <span>Spring Framework</span>
                    <span>Spring Security</span>
                    <span>REST API</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>
    
        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4m4QueNi7R0RRdiRo3zlOm8-xNCmMl-R3ETud6AdojgY10D4ZxO2cOd9tuprVwWkdAapmqOGg3qpBiW5SssSPpVhmwGp_FNAodjBKDeYdfEt8q7wCgqSp8os4dwwByaKedittqPuAJEaple6yi1yw11Hs5SML4Sl43jnXbDYKBTrcSHKlBbm7OfVFRTi3jslCtfObXezOAmE0CEEscfdc9Nw68D0PYsBuPkbh0Azs44y4?encodeFailures=1&width=800&height=600" alt="Handwriting Analysis for the assessment of Parkinson's Disease" height="250" width="450" />
            <div class="project-content">
                <h3>Handwriting Analysis for the assessment of Parkinson's Disease</h3>
                <p>Developed an ANN model to predict whether subject has Parkinson's Disease or not.</p>
                <div class="project-skill">
                    <span>ANN</span>
                    <span>Digital Image Processing</span>
                    <span>Pattern Recognition</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a href="#" aria-label="Source code" target="_blank"
                            title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a href="#" aria-label="Preview" target="_blank" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mtg6pSKa57S6SObJ3AYgmgSPuxuo4nGJ3-sWMY1TlNsgUI1PB-c-ZkIZxNFbQhLWAeGBBaaoYjlO2xwSFEwy9Be06vOn2JPCOwqZhGBt4loACErSybYrZRRFtn59gcyC7wcznefIJ5ankW_zqeY_k8dTn1cn49eBoBffOBdceUMvppKB17b1xzYaFmcVvPtavHUH8fi13KqO3BZ8cZj7GflRi-3y890LLOzaJUZejYzw?encodeFailures=1&width=654&height=382" alt="Connect4 Game" height="250" width="450" />
            <div class="project-content">
                <h3>Connect4 Game</h3>
                <p>It’s the classic game you love to play with your friends and family. Can you connect four of your coloured disks by dropping them into the holder before your opponent does?</p>
                <div class="project-skill">
                    <span>Java</span>
                    <span>JavaFX</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/1.Connect4" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mj-3OwRoVkk8VelVPgWPsi-VEmFHDxuokXo-gvYT-KqPgLvjoft5nmTjvQrAvUaOvvSpzbuXVCrFY_QkKEjJD87Rfbykvx01kHdembVCXsTOQmBNCpBVaN9iJ41qmfjGkZvTPrLRGVJ6m4PkMFfwIsHyfqAdSDdpzh5wjLY1obYazhOhc3AoA0a3mFDQ6onaIhaWQy-SlofeqlISyJ3f0g7LdrRQltlGQm03xWW7M7Ik?encodeFailures=1&width=1247&height=832" alt="Audiobook" height="250" width="450" />
            <div class="project-content">
                <h3>Audiobook</h3>
                <p>Converts your favorite novels into an Audiobook.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                    <span>gTTS</span>
                    <span>PyPDF2</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mFWU-rlWdPyP5yKFL_oaRWUovUaIIZGtxY_BZieV9qpGYGzNfMmjaOr7zQl9Bvk6XIAWB2f7o_4zu_ewywrXTPh52PhcGYncOrIlxBofbOPYItYxXPitptIOgssFGZBoiYbk6_tzF-hBUvhdyXJf930Ol_TytFz6_XYQGZRsTYTSrE18z_l4RPReTrqAd6ruQOuYN2XVXNGFSk_15DPj7auqiAmPSayIgGjZiFQNVIzs?encodeFailures=1&width=850&height=450" alt="Pencil Sketch Converter" height="250" width="450" />
            <div class="project-content">
                <h3>Pencil Sketch Converter</h3>
                <p>Converts your color photos into a monochrome pencil sketch.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>OpenCV</span>
                    <span>Tkinter</span>
                    <span>Pillow</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/PythonCodes/blob/master/ConvertImageToPencilSketch.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mX7GuIFwYYf6Wscov2j7moQ83H71CBWd9KJyh-_gvpVoQgtVcwx8HhHG_wG7XtXob8wAf3CJO4ta35JqjJJrl5_sL-2kwnvbHid30944X5Da5YYMBhCqz4VCuWrPVueo4bl5ioIwELEgeNqUzwXcVkSZnX8JxaSDoPQnTY1vCOMH7RuLQXmZF9QNuiVsF7H7s2Pzfa87HEVNpiH-DJFkKRBjeDHuwy7IZZTL4M8v3e7E?encodeFailures=1&width=330&height=208" alt="Dice Rolling Simulator" height="250" width="450" />
            <div class="project-content">
                <h3>Dice Rolling Simulator</h3>
                <p>Throw dice for games like Ludo. Snakes and Ladder, Dungeons and Dragons (DnD) and Ship-Captain-Crew.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                    <span>Random</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/PythonCodes/blob/master/DiceRollingSimulator.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mu_9e90lu9RwWWTDCL9V0kaRbwAGU9jqC_R7LcSIr4Uzu_UmChVI8008YRYbtOPAPoZl-JSm_jyiU8a9a2AC9_JICB2YsZR9diheL5NgQ03ZFIqo3S3b9xrT2CWZ1MVXcgwDWdJcQ3J4WKIlFDMH5esoKU83OV23l-ZT45AnkYUYhSAQ_TixAQ1QSE0DQKupuOjG7fMTILWMJwDQEeabaLyZKb00q_VZRhJxcsrad1Ps?encodeFailures=1&width=645&height=360" alt="Hangman Game" height="250" width="450" />
            <div class="project-content">
                <h3>Hangman Game</h3>
                <p>Hangman is an old school favorite, a word game where the goal is simply to find the missing word or words. In this version, try to guess the country before your number of tries run out.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Random</span>
                    <span>PyCountry</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/PythonCodes/blob/master/Hangman.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mT1c9VYTMT2JXRoqsKqFlH6c6OkswVsc2u3uNhkjM2hhBo38zl2Cr1JRizth6SrdhQwu2Jme2iQwa1KfYCNU062A58ohNwRcWnXYEhj-fiDjkToXvfyDDihHdpuWjTxMiULQllEky9QTmyP1kpbdZvJC6Dlgd8f9JzTu0O4stRK3tOZ5_7nD5e_Y9xxWAXrLA0vgduM5qKV2PFv2j8JO6YeCAS3aFw09OnAmT-6oUpWY?encodeFailures=1&width=1280&height=720" alt="Morse Code Translator" height="250" width="450" />
            <div class="project-content">
                <h3>Morse Code Translator</h3>
                <p>Easy to use Morse code translator, translate Morse code to English text and English text to Morse code.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/PythonCodes/blob/master/MorseCodeTranslator.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mF4-mREmv4uPyf-Fyzyt4BaMziBsYUNNEc8xVz3AFe0U4_fvCLi3sAdtJnp-Eej9axv1t18qeBfUkEB1L4aIVmSeTWhtzzX7k4zYEDbDWXGQH00ryJQSILsV9Jjqx5LXvViSknWWw4pTb4OJAZX5FpalAM6p9kl6W0HQl0rYxerqF4k_SEoqwD0g_JWUu3611VXvRQp8yEV551OyVA8FMIOWC8CYEwVYS2j6FSq8a9BA?encodeFailures=1&width=270&height=203" alt="Password Generator" height="250" width="450" />
            <div class="project-content">
                <h3>Password Generator</h3>
                <p>Password Generator creates random passwords based on parameters set by you.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Random</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mD3Mr1u0DC-tteIsYOJh2Fjz_wzRSyK2p3FXwIeyTYjaWh_rcnUVYi8xdAjpWgkhHhVjUGRNO77Q4qQlDNDlwUSVHTNQum7V1j5StqeYe68dMpejj0nFs-GDpvbk4ZEu_t2wBOgafWugUtYIr7iZk9neiaAXVsSTxF-lBmiqtUBWIXB8L8AGy5Ku2Qzy7Rf8s2fT-U12vzQBeoSEo-vzQ69SklkkHnHG9p0XEd7vods0?encodeFailures=1&width=370&height=370" alt="QR Code Generator and Scanner" height="300" width="300" style="margin-left: 6%;"/>
            <div class="project-content">
                <h3>QR Code Generator and Scanner</h3>
                <p>A niche tool that is used to generate and scan QR Codes. Depending on your purpose, you can use our generator to create QR Codes to open a website, view a PDF file, listen to music, watch Youtube videos, store image files, connect to a WiFi network, and much more.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>QRCode</span>
                    <span>PyZBar</span>
                    <span>Pillow</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/PythonCodes/blob/master/QRGeneratorAndScanner.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mNcfquTSiR_Xf06M8HBQUFdUxAi1KRjNMyFw0TxepvbCcK9lOafPKyavf394aG8I6MH_iew7wxKG_Xo7CApP673BN6KToJB1b0DgzjJyDvuUcVRIyn8dLpST3-7IlgJJfRl857EQVe6AhvEBBvaTxzAxEqIhxp0NK73ig7LttnCBm9SPIUVs1hc7j_Esps84z2nh7RXgIR0GGQfQ66Tx_N6E2ekkAk32tVbzXXap4bqc?encodeFailures=1&width=891&height=651" alt="Wordle Game" height="250" width="450" />
            <div class="project-content">
                <h3>Wordle Game</h3>
                <p>Guess the Wordle in 6 tries. Each guess must be a valid 5-letter word. The character in the tiles will change to show how close your guess was to the word.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                    <span>Random Word</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="https://chi01pap001files.storage.live.com/y4mdTE6NXFxPyCMX1WvgoABlopVgKOqj4rzGEFfIoMo9kfEHjjcAD3wUb8tN7LE0TK5HlxC8vB-C2O1_Xy5W5-DqhdnSocj11qQM90Dlr7xBd4CfwYcXFy-XPcNyxEzENRiqIG8x2koU3z-1G25XNpCzUOTcAnoNgvZiZyAL8IyrVtYaboLxx9b5U9vfetgfgm4twpVgZ1HngnwzDWfcSdFa78nqf-5ycZKMc8VuDwly4M?encodeFailures=1&width=1280&height=720" alt="YouTube Video Downloader" height="250" width="450" />
            <div class="project-content">
                <h3>YouTube Video Downloader</h3>
                <p>Save your favorite YouTube videos directly to your device in one simple step and watch them whenever you want.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>PyTube</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/ArchitaSaha/PythonCodes/blob/master/YouTubeVideoDownloader.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>
    </section>
</body>