<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap" rel="stylesheet">
<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="project" class="project">
        <h2 class="section-title">Projects</h2>
        <div class="project-container">
            <img src="assets/pms.png" alt="Pension Management System" height="250" width="450" />
            <div class="project-content">
                <h3>Pension Management System</h3>
                <p>
                    Employed Angular and Spring Framework.<br>
                    Built microservices and web services using REST.
                </p>
                <div class="project-skill">
                    <span>Angular</span>
                    <span>Spring Framework</span>
                    <span>Spring Security</span>
                    <span>REST API</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a target="_blank" href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>
    
        <div class="project-container">
            <img src="assets/parkinson.jpg" alt="Handwriting Analysis for the assessment of Parkinson's Disease" height="250" width="450" />
            <div class="project-content">
                <h3>Handwriting Analysis for the assessment of Parkinson's Disease</h3>
                <p>Developed an ANN model to predict whether subject has Parkinson's Disease or not.</p>
                <div class="project-skill">
                    <span>ANN</span>
                    <span>Digital Image Processing</span>
                    <span>Pattern Recognition</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a target="_blank" href="#" aria-label="Source code" target="_blank"
                            title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="#" aria-label="Preview" target="_blank" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="assets/connect4.png" alt="Connect4 Game" height="250" width="450" />
            <div class="project-content">
                <h3>Connect4 Game</h3>
                <p>It’s the classic game you love to play with your friends and family. Can you connect four of your coloured disks by dropping them into the holder before your opponent does?</p>
                <div class="project-skill">
                    <span>Java</span>
                    <span>JavaFX</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/1.Connect4" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/audiobook.jpg" alt="Audiobook" height="250" width="450" />
            <div class="project-content">
                <h3>Audiobook</h3>
                <p>Converts your favorite novels into an Audiobook.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                    <span>gTTS</span>
                    <span>PyPDF2</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a target="_blank" href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="assets/pencilSketch.png" alt="Pencil Sketch Converter" height="250" width="450" />
            <div class="project-content">
                <h3>Pencil Sketch Converter</h3>
                <p>Converts your color photos into a monochrome pencil sketch.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>OpenCV</span>
                    <span>Tkinter</span>
                    <span>Pillow</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/PythonCodes/blob/master/ConvertImageToPencilSketch.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/diceRoll.jpg" alt="Dice Rolling Simulator" height="250" width="450" />
            <div class="project-content">
                <h3>Dice Rolling Simulator</h3>
                <p>Throw dice for games like Ludo. Snakes and Ladder, Dungeons and Dragons (DnD) and Ship-Captain-Crew.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                    <span>Random</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/PythonCodes/blob/master/DiceRollingSimulator.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/hangman.jpg" alt="Hangman Game" height="250" width="450" />
            <div class="project-content">
                <h3>Hangman Game</h3>
                <p>Hangman is an old school favorite, a word game where the goal is simply to find the missing word or words. In this version, try to guess the country before your number of tries run out.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Random</span>
                    <span>PyCountry</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/PythonCodes/blob/master/Hangman.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/morseCodeTranslator.jpg" alt="Morse Code Translator" height="250" width="450" />
            <div class="project-content">
                <h3>Morse Code Translator</h3>
                <p>Easy to use Morse code translator, translate Morse code to English text and English text to Morse code.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/PythonCodes/blob/master/MorseCodeTranslator.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/passwordGenerator.png" alt="Password Generator" height="250" width="450" />
            <div class="project-content">
                <h3>Password Generator</h3>
                <p>Password Generator creates random passwords based on parameters set by you.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Random</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a target="_blank" href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="assets/logo.png" alt="QR Code Generator and Scanner" height="300" width="300" style="margin-left: 6%;"/>
            <div class="project-content">
                <h3>QR Code Generator and Scanner</h3>
                <p>A niche tool that is used to generate and scan QR Codes. Depending on your purpose, you can use our generator to create QR Codes to open a website, view a PDF file, listen to music, watch Youtube videos, store image files, connect to a WiFi network, and much more.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>QRCode</span>
                    <span>PyZBar</span>
                    <span>Pillow</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/PythonCodes/blob/master/QRGeneratorAndScanner.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/wordle.png" alt="Wordle Game" height="250" width="450" />
            <div class="project-content">
                <h3>Wordle Game</h3>
                <p>Guess the Wordle in 6 tries. Each guess must be a valid 5-letter word. The character in the tiles will change to show how close your guess was to the word.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>Tkinter</span>
                    <span>Random Word</span>
                </div>
                <!-- <div class="project-link">
                    <span>
                        <a target="_blank" href="#" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span>
                </div> -->
            </div>
        </div>

        <div class="project-container">
            <img src="assets/youtubeVideoDownloader.png" alt="YouTube Video Downloader" height="250" width="450" />
            <div class="project-content">
                <h3>YouTube Video Downloader</h3>
                <p>Save your favorite YouTube videos directly to your device in one simple step and watch them whenever you want.</p>
                <div class="project-skill">
                    <span>Python3</span>
                    <span>PyTube</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a target="_blank" href="https://github.com/ArchitaSaha/PythonCodes/blob/master/YouTubeVideoDownloader.py" aria-label="Source code" title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a target="_blank" href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>
    </section>
</body>