<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div class="hero">
        <div class="card">
            <div class="cover-photo">
                <img src="assets/portrait.jpg" class="profile">
                <div class="weather">
                    <p>
                        <fa-icon [icon]="temperatureIcon"></fa-icon>
                        &nbsp;{{temperature}} °C&nbsp;
                        <fa-icon [icon]="weatherIcon"></fa-icon>
                        &nbsp;{{weather}}
                    </p>
                </div>
            </div>
            <h3 class="profile-name">Archita Saha</h3>
            <p class="about">Cloud Engineer<br>Aspiring FSE Developer</p>
            <div class="icons">
                <a target="_blank" href="https://www.facebook.com/archita.saha.5205">
                    <fa-icon [icon]="facebookIcon"></fa-icon>
                </a>
                <a target="_blank" href="https://www.instagram.com/archi__saha/">
                    <fa-icon [icon]="instagramIcon"></fa-icon>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/archita-saha">
                    <fa-icon [icon]="linkedInIcon"></fa-icon>
                </a>
                <a target="_blank" href="https://github.com/ArchitaSaha">
                    <fa-icon [icon]="githubIcon"></fa-icon>
                </a>
            </div>
        </div>
    
        <div class="hero-about">
            <h2>{{msg}},</h2>
            <p>
                I am a passionate Cloud Engineer with 1+ years of experience in GCP. Seeking an opportunity to work in a challenging environment to build innovative and cutting-edge business solutions. I enjoy writing clean code, building beautiful user interfaces and more.
            </p>
            <a class="resume" target="_blank" href="https://drive.google.com/file/d/1OQxYWFTY1oXWhi-uO6koTfj35fCZvA4c/view?usp=share_link">
                <span class="btn">Resume</span>
            </a>
        </div>
    </div>
</body>