<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div class="hero">
        <h1 class="container">
            &nbsp;Hi. I am
            <span #textElement class="hero-name text"></span>
            <span #blinkElement class="hero-name text blink"></span>
        </h1>
    
        <div class="hero-about">
            <p>
                I am a passionate Cloud Engineer with 1+ years of experience in GCP. Seeking an opportunity to work in a challenging environment to build innovative and cutting-edge business solutions. I enjoy writing clean code, building beautiful user intefaces and more. 
            </p>
            <a class="resume" href="https://drive.google.com/file/d/1NdDk-V1VvFmSwYuk8O-PqeFTfTIUQjLN/view?usp=share_link">
                <span class="btn">Resume</span>
            </a>
        </div>
    </div>
</body>