<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
	</head>
	<body class="mainBody" [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css" />
		<script src="https://kit.fontawesome.com/fa62c117c7.js" crossorigin="anonymous"></script>
	
		<div class="container-fluid">
			<app-header (newItemEvent)="toggleTheme($event)"></app-header>
			<app-introduction [darkTheme]="darkTheme"></app-introduction>
			<app-projects [darkTheme]="darkTheme"></app-projects>
			<app-skillset [darkTheme]="darkTheme"></app-skillset>
			<app-work [darkTheme]="darkTheme" [images]="images" [autoSlide]="true" [slideInterval]="5000"></app-work>
			<app-contacts [darkTheme]="darkTheme"></app-contacts>
	
			<footer>
				<!-- <small>&copy; 2022 Archita Saha</small> -->
				<small>Archita Saha</small>
			</footer>
	
			<div class="scroll-container">
				<div aria-label="Scroll up" class="scroll-up">
					<a href="#top">
						<!-- <i aria-hidden="true" class="fas fa-arrow-up"></i> -->
						<fa-icon [icon]="scrollIcon" aria-hidden="true" class="fas fa-arrow-up"></fa-icon>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>