<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Moon+Dance&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css" />
		<script src="https://kit.fontawesome.com/fa62c117c7.js" crossorigin="anonymous"></script>
	</head>
	<body class="mainBody" [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
		<div class="container-fluid">
			<app-navtest [darkTheme]="darkTheme" (newItemEvent)="toggleTheme($event)"></app-navtest>
			<app-intro [darkTheme]="darkTheme" [msg]="msg" [temperature]="temperature" [weather]="weather" [weatherIcon]="weatherIcon"></app-intro>
			<app-time [darkTheme]="darkTheme" [time]="time" [location]="location"></app-time>
			<app-experience [darkTheme]="darkTheme"></app-experience>
			<app-education [darkTheme]="darkTheme"></app-education>
			<app-skillset [darkTheme]="darkTheme"></app-skillset>
			<app-projects [darkTheme]="darkTheme"></app-projects>
			<app-work [darkTheme]="darkTheme" [images]="images" [autoSlide]="true" [slideInterval]="5000"></app-work>
			<app-research [darkTheme]="darkTheme"></app-research>
			<app-hobbies [darkTheme]="darkTheme"></app-hobbies>
			<app-contacts [darkTheme]="darkTheme"></app-contacts>
	
			<footer>
				<small>Mindset is everything</small>
				<div class="txt">
					<img [src]="darkTheme ? 'assets/borderDark.png' : 'assets/borderLight.png'">
				</div>
			</footer>
	
			<div class="scroll-container">
				<div aria-label="Scroll up" class="scroll-up">
					<a href="#top">
						<fa-icon [icon]="scrollIcon" aria-hidden="true" class="fas fa-arrow-up"></fa-icon>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>