<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="skillset" style="height: 40px; background-color: transparent;"></div>
    <section id="" class="stack">
		<h2 class="section-title">Skillset</h2>
		<div class="stack-container">
            <div class="tech-container">
                <!-- <i class="devicon-html5-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                HTML
            </div>
            <div class="tech-container">
                <!-- <i class="devicon-css3-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                CSS
            </div>
            <!-- <div class="tech-container">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" />
                Bootstrap
            </div> -->
            <div class="tech-container">
                <!-- <i class="devicon-javascript-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                JavaScript
            </div>
            <div class="tech-container">
                <!-- <i class="devicon-typescript-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
                TypeScript
            </div>
            <!-- <div class="tech-container">
                <i class="devicon-jquery-plain colored"></i>
                Jquery
            </div> -->
            <div class="tech-container">
                <!-- <i class="devicon-angularjs-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
                Angular
            </div>
            <div class="tech-container">
                <i class="devicon-spring-plain colored"></i>
                Spring
            </div>
            <div class="tech-container">
                <!-- <span><img src="https://miro.medium.com/max/300/0*goJuBKoyL-zZX4RB.png"></span> -->
                <img src="assets/oopLogo.png">
                OOP
            </div>
            <div class="tech-container">
                <!-- <i class="devicon-c-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
                C
            </div>
            <!-- <div class="tech-container">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" />
                C++
            </div> -->
            <div class="tech-container">
                <!-- <i class="devicon-java-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
                Java
            </div>
            <div class="tech-container">
                <!-- <i class="devicon-python-plain colored"></i> -->
                <!-- <img src="https://img.icons8.com/color/512/python--v2.png"> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
                Python
            </div>
            <div class="tech-container">
                <i class="devicon-thealgorithms-plain colored"></i>
                DSA
            </div>
            <div class="tech-container">
                <i class="devicon-mysql-plain colored"></i>
                Mysql
            </div>
            <div class="tech-container">
                <i class="devicon-oracle-original colored"></i>
                Oracle
            </div>
            <!-- <div class="tech-container">
                <i class="devicon-sqlite-plain-wordmark colored"></i>
                SQLite
            </div> -->
            <div class="tech-container">
                <!-- <i class="devicon-googlecloud-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" />
                GCP
            </div>
            <!-- <div class="tech-container">
                <i class="devicon-tomcat-line colored"></i>
                Tomcat
            </div> -->
            <div class="tech-container">
                <i class="devicon-git-plain colored"></i>
                Git
            </div>
            <div class="tech-container">
                <!-- <img src="../../assets/postmanLogo.svg"> -->
                <img src="assets/postmanLogo.svg">
                Postman
            </div>
		</div>
	</section>
</body>